* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(../assets/background__Filmes.jpg);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f0f0f0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    color: #ffffff;
    background-color: #323334df;
    border-radius: 5px;
    padding: 7px;
}


.content__forms {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #fff;
    padding: 50px 0px 70px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.content__forms label {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    min-width: 100px;
}

.content_btt {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 99px;
    top: 50px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #323334;
    color: #f0f0f0;
    margin-top: 10px;
}
