* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-y: hidden;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 50px;
    
}

h1 {
    display: flex;
    justify-content: center;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

label{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #2c3e50;
    margin: 8px;
}

input{
    width: 316px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
    gap: 5px;
}

.content__forms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 60%;
}

.content__forms__files {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.content__forms__files_input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.content__btt{
    display: flex;
    position: relative;
    left: 73px;
}

button{
    display: flex;
    justify-content: center;
    padding: 12px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 150px;
}